@import 'grommet/scss/vanilla/index';

#sidebar {
  max-width: 270px;
}

.grommetux-header__container {
  border-bottom: 1px solid #f5f5f5;
}

.arealeader-box {
  margin-bottom: 10px;
  width: 100%;

  @media (min-width: 998px) {
    width: calc(50% - 10px);
    margin-right: 10px;
  }

  @media (min-width: 1336px) {
    width: calc(33.3% - 10px);
  }
}

.arealeader-box__label {
  font-weight: 500;
  font-size: 13px;
}

.loading {
  transition: 300ms;
  max-height: 0;
  padding: 0;
  opacity: 0;
}

.loading--visible {
  max-height: 300px;
  padding: 24px;
  opacity: 1;
}
