@import 'grommet/scss/vanilla/index';

.grommetux-header__container {
  border-bottom: 1px solid #f5f5f5;

  @media print {
    max-height: 72px;
    margin-bottom: 8px;
  }
}

.header-inner {
  @media (min-width: 998px) {
    height: 72px;
  }
}

.arealeader-box {
  margin-bottom: 10px;
  width: 100%;

  @media (min-width: 998px) {
    width: calc(50% - 10px);
    margin-right: 10px;
  }

  @media (min-width: 1336px) {
    width: calc(33.3% - 10px);
  }

  @media print {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 0;
    padding: 10px;

    .arealeader-box__item {
      flex: 1;
    }

    .arealeader-box__item--name {
      flex: 2;
    }
  }
}

.arealeader-box__number {
  color: #7a64c8;
  margin-right: 0 !important;
}

.arealeader-box__title {
  font-size: 20px;

  @media print {
    margin-bottom: 16px;
  }
}

.arealeader-box__view {
  font-size: 16px;
}

.arealeader-box__label {
  font-weight: 500;
  font-size: 13px;
}

.loading {
  transition: 300ms;
  max-height: 0;
  padding: 0;
  opacity: 0;
}

.loading--visible {
  max-height: 300px;
  padding: 24px;
  opacity: 1;
}

.alert {
  transition: 300ms;
  max-height: 0;
  padding: 0 12px;
  opacity: 0;

  .grommetux-box {
    padding: 0;
  }

  .grommetux-status-icon {
    display: none;
  }

  .grommetux-notification__message {
    padding-left: 12px;
  }
}

.alert--visible {
  max-height: 300px;
  padding: 12px;
  opacity: 1;
}

.group-title {
  border-bottom: 1px solid #000;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

@media print {
  .hide-print {
    display: none;
  }

  .group-title {
    font-weight: bold;
  }

  .arealeader-contacts {
    margin-top: 30px;
  }
}

#sidebar {
  max-width: 270px;
  flex: 0 0 auto;
  position: fixed;
  height: 100%;
}

.content {
  flex: 1;
  position: relative;

  @media screen {
    margin-left: 270px;
  }
}

#sidebar .inset-menu-item {
  padding-left: 40px;
}

@media screen and (max-width: 900px) {
  .content {
    margin-left: 0;
  }

  #sidebar {
    display: none;
  }
}
